*{
  box-sizing: border-box;
}

.App {
  text-align: center;
  width: 100%;
}

.error{
  display:grid;
  place-items:center;
  font-size: 30px;
  height: 80vh;
}
.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  padding:30px;
}

@media screen and (max-width: 1280px) {
  .grid{
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 970px) {
  .grid{
    grid-template-columns: 1fr 1fr ;
  }
}
@media screen and (max-width: 600px) {
  .grid{
    padding:30px 10px ;
    grid-template-columns: 1fr ;
  }
}
